<main class="container">
  <section class="search-container d-flex flex-sm-row flex-column justify-content-center align-items-center">
      <img src="assets/images/github-octocat.png" alt="github" />
      <div class="search-container__input-group">
        <input class="search-input" [(ngModel)]="username" />
        <button class="search-btn" (click)="getUser()">Procurar</button>
      </div>
  </section>

  <app-user-infos
  [userInfo]="userInfo"
  [githubRepos]="githubRepos"
  [githubReposFilter]="githubReposFilter"
  ></app-user-infos>

  <div
    id="overlay"
    class="d-flex justify-content-center align-items-center"
    *ngIf="loading"
  >
    <div class="spinner-grow" role="status"></div>
  </div>
</main>

<!-- <button class="btn btn-lg btn-outline-primary" (click)="open(mymodal)">Open My Modal</button>
   
<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Bootstrap Modal</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    This is example from ItSolutionStuff.com
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
  </div>
</ng-template> -->