
$bp-large: 68.75em;
$bp-medium: 768px;
$bp-small: 576px;
$bp-smallest: 31.25em;

$gray300: #65605c;
$gray200: #dddddd;
$gray100: #f1f1f1;
$blue600: #0079ff;

* {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 64.5%;

  @media only screen and (max-width: $bp-large) {
      font-size: 50%;
  }
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-1);
  background-color: #f6f8ff;
  padding: 5%;

  button {
    outline: none;

  }

  h1 {
    font-size: 4rem;
  }

  input {
    outline: none;
  }

  p {
    font-size: 1.18rem;
  }
}

.search-container {
    padding: 0 12%;

    img {
      border-radius: 50%;
      width: 9%;
      margin: 0 1rem;
      box-shadow: rgba(0, 0, 0, 0.08) -4px 9px 25px -6px;
    }


    &__input-group {
        position: relative;
        width: 50%;
        height: 4rem;

      }

      .search-input {
        width: 100%;
        border-radius: 100px;
        padding: 10px 100px 10px 20px; 
        line-height: 1;
        box-sizing: border-box;
        box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
        border: none;
        margin: 0 1rem;
      }
      .search-btn {
        position: relative;
        bottom: 3rem;
        border: 0;
        background: #0079ff;
        color: #fff;
        margin: 0;
        padding: 0.5rem 1rem;
        border-radius: 100px;
        z-index: 2;
        left: 41rem;
      }
}

#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
}


